@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  font-style: normal;
  width: 100vw;
  overflow-x: hidden;
  text-align: center;
  background: black url(../images/bg/stage.jpg) no-repeat fixed;
  background-size: auto 100%;
  background-position: center;
}

section {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

.splash-page {
  z-index: 100;
  height: 100vh;
  margin-bottom: 100vh;
}
.splash-page .splash-space {
  height: 100vh;
  background-color: black;
}
.splash-page .bg-dark {
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0;
}
.splash-page .curtain#left {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 50%;
  left: 0;
}
.splash-page .curtain#right {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 50%;
  right: 0;
}
.splash-page .plaque {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #DE9B72;
  background-color: #3A3D3E;
  background: linear-gradient(7deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
  border: 2px solid #DE9B72;
  padding: 5px;
}
.splash-page .plaque:before {
  content: "•";
  position: absolute;
  width: 14px;
  font-size: 14px;
  border: 2px solid #DE9B72;
  line-height: 14px;
  top: 5px;
  left: 5px;
}
.splash-page .plaque:after {
  content: "•";
  position: absolute;
  width: 14px;
  font-size: 14px;
  border: 2px solid #DE9B72;
  line-height: 14px;
  top: 5px;
  right: 5px;
}
.splash-page .plaque-inner {
  position: relative;
  border: 2px solid #DE9B72;
  padding: 40px;
}
.splash-page .plaque-inner:before {
  content: "•";
  position: absolute;
  width: 14px;
  font-size: 14px;
  border: 2px solid #DE9B72;
  line-height: 14px;
  bottom: -1.5px;
  left: -2px;
}
.splash-page .plaque-inner:after {
  content: "•";
  position: absolute;
  width: 14px;
  font-size: 14px;
  border: 2px solid #DE9B72;
  line-height: 14px;
  bottom: -1.5px;
  right: -2px;
}

main .gap {
  height: 115vh;
}
main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
main section .wood-bg {
  padding: 0.5em;
  margin: 0 auto;
  width: max-content;
  max-width: 75vw;
  font-family: "Tienne", serif;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px, rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
main section .wood-bg > * {
  background: url(../images/bg/gold.jpg);
  background-size: 50px;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
main section .wood-bg.heading {
  background: #ac0200 url(../images/bg/dark-wood.jpg);
  background-blend-mode: hard-light;
  background-size: 100% 100%;
}
main section .wood-bg.heading h1 {
  border: 0.1em solid goldenrod;
  border-image: url(../images/bg/gold.jpg) 7 round;
  padding: 0.1em;
}
main section .wood-bg.heading.page-visible {
  position: fixed;
  top: 1.5em;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, 0);
  animation: 1s enter-heading ease-in;
}
@keyframes enter-heading {
  0% {
    transform: translate(-50%, -200%);
  }
  20% {
    transform: translate(-50%, 0%) rotate(1.5deg);
  }
  40% {
    transform: translate(-50%, -30%) rotate(-2deg);
  }
  60% {
    transform: translate(-50%, 0) rotate(2.5deg);
  }
  80% {
    transform: translate(-50%, -10%) rotate(-2deg);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
main section .wood-bg.infobox {
  border: 0.3em solid goldenrod;
  border-image: url(../images/bg/gold.jpg) 7 round;
  display: flex;
  flex-direction: column;
  background: rgb(27, 27, 27) url(../images/bg/dark-wood.jpg);
  background-blend-mode: difference;
  background-size: 100% 100%;
}
main section .wood-bg.infobox .sub-heading {
  font-size: 1.5em;
}
main section .wood-bg.infobox.active {
  position: fixed;
  height: fit-content;
  top: 5.25em;
  left: 50%;
  z-index: 0;
  transform: translateX(-50%);
  transform-origin: top left;
  animation: 1.5s enter-info ease-in;
}
@keyframes enter-info {
  0% {
    transform: scale(0, 0) translateX(-50%);
  }
  75% {
    transform: scale(0.75, 0) translateX(-50%);
  }
  100% {
    transform: scale(1, 1) translateX(-50%);
  }
}
main section .cards .card-space {
  height: 70vh;
  margin-bottom: 100vh;
}
main section .cards .card-space:last-child {
  margin-bottom: 0;
}
main section .cards .card {
  position: relative;
  max-width: 80vw;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 2px;
  background: hsl(60deg, 20%, 83%) url(../images/bg/black-paper.jpg);
  font-family: "IM Fell English SC", serif;
  color: goldenrod;
}
main section .cards .card::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 0px;
  box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.3803921569);
}
main section .cards .card .card-content {
  border: 4px solid goldenrod;
  border-image: url(../images/bg/gold.jpg) 7 round;
  background: url(../images/bg/gold.jpg);
  background-size: 50px;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 70vh;
  justify-content: space-between;
  padding: 1rem;
}
main section .cards .card .card-content h4 {
  font-size: 1.5em;
}
main section .cards .card .card-content p {
  text-align: justify;
}
main section .cards .card .card-content ul {
  text-align: left;
  padding-left: 1em;
}
main section .cards .card .card-content ul.project-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 10vh;
}
main section .cards .btn {
  perspective: 100px;
  perspective-origin: 50%;
}
main section .cards .btn button {
  padding: 0.2rem 1rem;
  transform: rotateX(20deg) translateY(1.2rem);
  font-family: "Vollkorn SC", serif;
  font-weight: bold;
  background: url(../images/bg/mat.jpeg);
  color: #3f1414;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: none;
  border-radius: 0.5rem;
}
main section .cards .btn button:hover {
  transform: rotateX(10deg) translateY(1.1rem);
}
main section .cards .btn button:active {
  transform: rotateX(5deg) translateY(1rem);
}
main .about-page button {
  padding: 0.2rem 1rem;
  margin-top: 0.2rem;
  font-family: "Vollkorn SC", serif;
  font-weight: bold;
  background: url(../images/bg/mat.jpeg);
  color: #3f1414;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 1px inset;
  border: none;
  border-radius: 0.5rem;
}
main .about-page button:hover {
  transform: scale(0.99);
  box-shadow: rgba(0, 0, 0, 0.3) 1.5px 2.5px 1px inset;
}
main .about-page button:active {
  transform: scale(0.98);
  box-shadow: rgba(0, 0, 0, 0.5) 2.5px 4px 3px inset;
}
main .about-page .cards {
  display: flex;
  justify-content: center;
  transform: translateX(100%);
}
main .about-page .cards .card {
  margin: 1rem;
}
main .contact-page fieldset {
  border: 0.1em solid goldenrod;
  border-image: url(../images/bg/gold.jpg) 7 round;
}
main .contact-page fieldset legend {
  text-align: left;
  padding: 0.2rem;
  margin: 0 1rem;
}
main .contact-page fieldset input,
main .contact-page fieldset textarea {
  color: goldenrod;
  font-family: "IM Fell English SC", serif;
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: 1.3rem;
  background: transparent;
  border: none;
}
main .contact-page fieldset input:focus,
main .contact-page fieldset textarea:focus {
  outline: none;
}
main .contact-page fieldset textarea {
  resize: none;
  height: 6rem;
}
main .active {
  position: fixed;
  bottom: 2rem;
  transition: all 0.2s;
}

/*# sourceMappingURL=compiled.css.map */
