@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  font-style: normal;
  width: 100vw;
  overflow-x: hidden;
  text-align: center;
  background: black url(../images/bg/stage.jpg) no-repeat fixed;
  background-size: auto 100%;
  background-position: center;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.splash-page {
  z-index: 100;
  position: fixed;
}
.splash-page .curtain#left {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 50%;
  left: 0;
}
.splash-page .curtain#right {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 50%;
  right: 0;
}
.splash-page .plaque {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #DE9B72;
  background-color: #3A3D3E;
  background: linear-gradient(7deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
  border: 2px solid #DE9B72;
  padding: 5px;
}
.splash-page .plaque:before {
  content: "•";
  position: absolute;
  width: 14px;
  height: 14px;
  font-size: 14px;
  color: #DE9B72;
  border: 2px solid #DE9B72;
  line-height: 12px;
  text-align: center;
  top: 5px;
  left: 5px;
}
.splash-page .plaque:after {
  content: "•";
  position: absolute;
  width: 14px;
  height: 14px;
  font-size: 14px;
  color: #DE9B72;
  border: 2px solid #DE9B72;
  line-height: 12px;
  text-align: center;
  top: 5px;
  right: 5px;
}
.splash-page .plaque-inner {
  position: relative;
  border: 2px solid #DE9B72;
  padding: 40px;
}
.splash-page .plaque-inner:before, .splash-page .plaque-inner:after {
  border-bottom-width: 1px;
}
.splash-page .plaque-inner:before {
  content: "•";
  position: absolute;
  width: 14px;
  height: 14px;
  font-size: 14px;
  color: #DE9B72;
  border: 2px solid #DE9B72;
  line-height: 12px;
  text-align: center;
  bottom: -1px;
  left: -2px;
}
.splash-page .plaque-inner:after {
  content: "•";
  position: absolute;
  width: 14px;
  height: 14px;
  font-size: 14px;
  color: #DE9B72;
  border: 2px solid #DE9B72;
  line-height: 12px;
  text-align: center;
  bottom: -1px;
  right: -2px;
}

.blank-page {
  position: relative;
  display: flex;
  background-color: black;
  flex-direction: column;
  height: 200vh;
  margin: 0;
  padding: 20vh 0 0 0;
  width: 100vw;
}

main {
  width: 100vw;
}
main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main section .heading {
  position: sticky;
  padding: 0.5em;
  margin: auto;
  background: #ac0200 url(../images/bg/red.jpeg);
  background-size: cover;
  background-blend-mode: hard-light;
}
main section .heading h1 {
  border: gold 0.1em solid;
  color: gold;
}
main section .page-visible {
  position: fixed;
  top: 1.5em;
  left: 50%;
  transform: translateX(-50%);
  animation: enter-heading 2s cubic-bezier(0.55, 0.055, 0.675, 0.19) 500ms no-repeat;
}
main section .page-visible::before {
  content: "";
  position: fixed;
  top: -1.6em;
  left: 50%;
  transform: translateX(-50%);
  width: 5em;
  height: 1.5em;
  border: 0.1em solid gold;
  border-bottom: none;
}
@keyframes enter-heading {
  0% {
    transform: translateY(-200%);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20vw);
  align-content: center;
  justify-content: center;
  gap: 2rem;
  margin: 2rem;
}
.projects .project-card {
  display: flex;
  flex-direction: column;
  max-width: 20vw;
  margin: 0 auto;
  padding: 1rem;
  background-color: hsl(60deg, 20%, 83%);
  border-top-left-radius: 250px 15px;
  border-bottom-left-radius: 20px 115px;
  border-bottom-right-radius: 105px 15px;
}
.projects .project-card ul {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=compiled.css.map */
