* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  width: 100vw;
  overflow-x: hidden;
  text-align: center;
}

main {
  width: 100vw;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/bg/cork.jpg);
  // border: 1rem solid #fff;
  // border-image: url(../images/bg/wood.jpg) 30% round;
}

.main-page {
  $color-skin: #DE9B72;
  // $color-skin2: #b78846;
  $color-dark: #3A3D3E;

  .curtain {
    position: absolute;
    top: 0;
    height: 100vh;

    &.left {
      left: 0;
      width: 50%;
    }

    &.right {
      right: 0;
      width: 50%;
    }
  }

  .plaque {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // width: 60%;
    background-color: $color-dark;
    border: 2px solid $color-skin;
    padding: 5px;

    &:before,
    &:after {
      content: "•";
      position: absolute;
      width: 14px;
      height: 14px;
      font-size: 14px;
      color: $color-skin;
      border: 2px solid $color-skin;
      line-height: 12px;
      top: 5px;
      text-align: center;
    }

    &:before {
      left: 5px;
    }

    &:after {
      right: 5px;
    }

    &-inner {
      position: relative;
      border: 2px solid $color-skin;
      padding: 40px;

      &:before,
      &:after {
        content: "•";
        position: absolute;
        width: 14px;
        height: 14px;
        font-size: 14px;
        color: $color-skin;
        border: 2px solid $color-skin;
        border-bottom-width: 1px;
        line-height: 12px;
        bottom: -1px;
        text-align: center;
      }

      &:before {
        left: -2px;
      }

      &:after {
        right: -2px;
      }
    }
  }
}