* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  // font-family: 'Inter', sans-serif;
  font-style: normal;
  width: 100vw;
  overflow-x: hidden;
  text-align: center;
  background: black url(../images/bg/stage.jpg) no-repeat fixed;
  background-size: auto 100%;
  background-position: center;
}

section {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

.splash-page {
  z-index: 100;
  position: fixed;
  $color-skin: #DE9B72;
  // $color-skin2: #b78846;
  $color-dark: #3A3D3E;
  $bg: linear-gradient(7deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
  linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);

  @mixin curtain($position) {
    position: absolute;
    top: 0;
    height: 100vh;
    // min-width: 10%;
    width: 50%;
    #{$position}: 0;
  }

  .curtain {
    &#left {
      @include curtain(left);
    }

    &#right {
      @include curtain(right);
    }
  }

  @mixin plaque-corner($horizontal, $x, $vertical, $y) {
    content: "•";
    position: absolute;
    width: 14px;
    height: 14px;
    font-size: 14px;
    color: $color-skin;
    border: 2px solid $color-skin;
    line-height: 12px;
    text-align: center;
    #{$vertical}: #{$y};
    #{$horizontal}: #{$x};
  }

  .plaque {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // width: 60%;
    color: $color-skin;
    background-color: $color-dark;
    background: $bg;
    background-color: #131313;
    background-size: 20px 20px;
    border: 2px solid $color-skin;
    padding: 5px;

    &:before {
      @include plaque-corner(left, 5px, top, 5px);
    }

    &:after {
      @include plaque-corner(right, 5px, top, 5px);
    }

    &-inner {
      position: relative;
      border: 2px solid $color-skin;
      padding: 40px;

      &:before,
      &:after {
        border-bottom-width: 1px;
      }

      &:before {
        @include plaque-corner(left, -2px, bottom, -1px);
      }

      &:after {
        @include plaque-corner(right, -2px, bottom, -1px);
      }
    }
  }
}

.blank-page {
  position: relative;
  display: flex;
  background-color: black;
  flex-direction: column;
  height: 200vh;
  margin: 0;
  padding: 20vh 0 0 0;
  width: 100vw;
}

main {
  width: 100vw;

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    $red: #ac0200;
    $gold: gold;
    $hang: 1.5em;
    $border: 0.1em;

    .heading {
      position: sticky;
      padding: 0.5em;
      margin: auto;
      background: $red url(../images/bg/red.jpeg);
      background-size: cover;
      background-blend-mode: hard-light;

      h1 {
        border: $gold $border solid;
        color: $gold;
      }
    }

    .page-visible {
      position: fixed;
      // z-index: 10;
      top: $hang;
      left: 50%;
      transform: translate(-50%, 0);
      animation: enter-heading 1s;
      animation-timing-function: ease-in;
    }

    @keyframes enter-heading {
      0% { transform: translate(-50%, -200%) }
      20% { transform: translate(-50%, 0%) rotate(1.5deg) }
      40% { transform: translate(-50%, -30%) rotate(-2deg) }
      60% { transform: translate(-50%, 0) rotate(2.5deg) }
      80% { transform: translate(-50%, -10%) rotate(-2deg) }
      100% { transform: translate(-50%, 0) }
    }
  }
}

.projects {
  $card-width: 80vw;
  .project-card {
    display: flex;
    flex-direction: column;
    max-width: $card-width;
    margin: 1rem auto;
    padding: 1rem;
    background-color: hsl(60, 20%, 83%);

    ul {
      display: flex;
      flex-direction: column;
    }
  }
}

// header {
//   $color-skin: #DE9B72;
//   $color-dark: #3A3D3E;
//   background: $color-dark;
//   margin: 0 auto;
//   width: 95vw;

//   .heading {
//     font-style: normal;
//     color: $color-skin;
//     font-size: 1em;
//     padding: 2em;
//   }

//   @mixin border($border-width) {
//     border: $border-width solid $color-skin;
//     padding: 6px;
//   }

//   .outer-border {
//     @include border(2px);
//   }

//   .mid-border {
//     @include border(6px);
//   }

//   .inner-border {
//     @include border(2px);
//     position: relative;
//   }

//   /* Decorations */
//   @mixin corners($width, $margin) {
//     position: absolute;
//     width: $width;
//     margin: $margin;
//   }

//   .corner-decoration {
//     @include corners(3em, -3px);

//     @mixin position($pos1, $pos2, $scale) {
//       #{$pos1}: 0;
//       #{$pos2}: 0;
//       -webkit-transform: scale($scale);
//       transform: scale($scale);
//     }

//     &.left-top {
//       @include position(left, top, (1, 1));
//     }

//     &.right-top {
//       @include position(right, top, (-1, 1));
//     }

//     &.right-bottom {
//       @include position(right, bottom, -1);
//     }

//     &.left-bottom {
//       @include position(left, bottom, (1, -1));
//     }
//   }

//   .vertical-decoration {
//     @include corners(11em, auto);
//     left: 0;
//     right: 0;

//     &.top {
//       top: 0;
//     }

//     &.bottom {
//       bottom: 0;
//       -webkit-transform: scaleY(-1);
//       transform: scaleY(-1);
//     }
//   }
// }