* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  // font-family: 'Inter', sans-serif;
  font-style: normal;
  width: 100vw;
  overflow-x: hidden;
  text-align: center;
  background: black url(../images/bg/stage.jpg) no-repeat fixed;
  background-size: auto 100%;
  background-position: center;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.splash-page {
  z-index: 100;
  position: fixed;
  $color-skin: #DE9B72;
  // $color-skin2: #b78846;
  $color-dark: #3A3D3E;
  $bg: linear-gradient(7deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
  linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);

  @mixin curtain($position) {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 50%;
    #{$position}: 0;
  }

  .curtain {
    &#left {
      @include curtain(left);
    }

    &#right {
      @include curtain(right);
    }
  }

  @mixin plaque-corner($horizontal, $x, $vertical, $y) {
    content: "•";
    position: absolute;
    width: 14px;
    height: 14px;
    font-size: 14px;
    color: $color-skin;
    border: 2px solid $color-skin;
    line-height: 12px;
    text-align: center;
    #{$vertical}: #{$y};
    #{$horizontal}: #{$x};
  }

  .plaque {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // width: 60%;
    color: $color-skin;
    background-color: $color-dark;
    background: $bg;
    background-color: #131313;
    background-size: 20px 20px;
    border: 2px solid $color-skin;
    padding: 5px;

    &:before {
      @include plaque-corner(left, 5px, top, 5px);
    }

    &:after {
      @include plaque-corner(right, 5px, top, 5px);
    }

    &-inner {
      position: relative;
      border: 2px solid $color-skin;
      padding: 40px;

      &:before,
      &:after {
        border-bottom-width: 1px;
      }

      &:before {
        @include plaque-corner(left, -2px, bottom, -1px);
      }

      &:after {
        @include plaque-corner(right, -2px, bottom, -1px);
      }
    }
  }
}

.blank-page {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 200vh;
  margin: 0;
  padding: 20vh 0 0 0;
  width: 100vw;

  .spotlight {
    height: 150vh;
    width: 10vw;
    margin: -4vw auto;
    background: linear-gradient(rgba(255, 255, 0, 0.5), rgba(255, 255, 255, 0));
    // border-radius: 10vw 10vw 0 0;
    width: 0;
    height: 10vw;
    border-left: 10vw solid transparent;
    border-right: 10vw solid transparent;
    border-bottom: 150vh solid yellow;
    box-shadow: 0 0 0 0 pink;
    // border-image: linear-gradient(rgba(255, 255, 0, 0.5), rgba(255, 255, 255, 0));
    // transform: perspective(100vw);
  }

  // perspective: 100px;
  // perspective-origin: center bottom;
  .stage {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50vh;
    background-image: url(../images/bg/planks.jpeg);
    // transform: rotateX(45deg);
    
  }
}

main {
  width: 100vw;

  section {
    // background-color: hsl(60, 20%, 83%);
    // border: solid 5vmin #eee;
    // border-bottom-color: #fff;
    // border-left-color: #eee;
    // border-radius: 2px;
    // border-right-color: #eee;
    // border-top-color: #ddd;
    // box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25) inset, 0 5px 10px 5px rgba(0, 0, 0, .25);
    // box-sizing: border-box;
    // display: inline-block;
    // height: 100vh;
    // padding: 8vmin;
    // position: relative;
    // text-align: center;

    // @mixin section-border($pos: -2vmin) {
    //   content: "";
    //   position: absolute;
    //   border-radius: 2px;
    //   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25) inset;
    //   bottom: #{$pos};
    //   left: #{$pos};
    //   right: #{$pos};
    //   top: #{$pos};
    // }

    // &:before {
    //   @include section-border(-2vmin);
    // }

    // &:after {
    //   @include section-border(-2.5vmin);
    // }

    // .cork {
    //   width: 100%;
    //   height: 100%;
    //   background-image: url(../images/bg/cork.jpg);
    //   box-shadow: 0px 0px 3px black inset;
    // }
  }
}

.projects {
  $card-width: 20vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, $card-width);
  align-content: center;
  justify-content: center;
  gap: 2rem;
  margin: 2rem;

  .project-card {
    display: flex;
    flex-direction: column;
    max-width: $card-width;
    margin: 0 auto;
    padding: 1rem;
    background-color: hsl(60, 20%, 83%);
    border-top-left-radius: 250px 15px;
    border-bottom-left-radius: 20px 115px;
    border-bottom-right-radius: 105px 15px;

    ul {
      display: flex;
      flex-direction: column;
    }
  }
}