* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  // list-style: none;
}

body {
  scroll-behavior: smooth;
  font-style: normal;
  // overflow-x: hidden;
  max-width: 100vw;
  text-align: center;
  background: black url(./images/bg/stage.jpg) no-repeat fixed;
  background-size: auto 100%;
  background-position: center;
}

@mixin gold-border($width) {
  border: #{$width} solid goldenrod;
  border-image: url(./images/bg/gold.jpg) 7 round;
}

@mixin gold-text {
  background: url(./images/bg/gold.jpg);
  background-size: 50px;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

section {
  position: relative;
  // max-width: 100vw;
  min-height: 100vh;
  margin-bottom: 100vh;
}

.splash-page {
  z-index: 100;
  height: 100vh;
  // width: 100vw;

  .splash-space {
    margin: 0;
    height: 90vh;
  }

  .bg-dark {
    position: fixed;
    background-color: black;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  @mixin curtain($position) {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 50%;
    #{$position}: 0;
  }

  .curtain {
    &#left {
      @include curtain(left);
    }

    &#right {
      @include curtain(right);
    }
  }

  $color-skin: #DE9B72;
  $color-dark: #3A3D3E;
  $plaque-bg: linear-gradient(7deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  $plaque-border: 2px solid $color-skin;
  $plaque-corner-size: 14px;
  $plaque-padding: 5px;

  @mixin plaque-corner($horizontal, $x, $vertical, $y) {
    content: "•";
    position: absolute;
    width: $plaque-corner-size;
    font-size: $plaque-corner-size;
    border: $plaque-border;
    line-height: $plaque-corner-size;
    #{$vertical}: #{$y};
    #{$horizontal}: #{$x};
  }

  .plaque {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-skin;
    background-color: $color-dark;
    background: $plaque-bg;
    background-color: #131313;
    background-size: 20px 20px;
    border: $plaque-border;
    padding: $plaque-padding;

    &:before {
      @include plaque-corner(left, $plaque-padding, top, $plaque-padding);
    }

    &:after {
      @include plaque-corner(right, $plaque-padding, top, $plaque-padding);
    }

    &-inner {
      position: relative;
      border: $plaque-border;
      padding: 40px;

      &:before {
        @include plaque-corner(left, -2px, bottom, -1.5px);
      }

      &:after {
        @include plaque-corner(right, -2px, bottom, -1.5px);
      }
    }
  }
}

main {
  $red: #ac0200;
  $gold: goldenrod;

  .gap {
    height: 115vh;
  }

  section {
    $hang: 1.5em;

    .wood-bg {
      padding: 0.5em;
      margin: 0 auto;
      // width: max-content;
      max-width: 75vw;
      // font-family: 'Gravitas One', cursive;
      // font-family: 'Vollkorn SC', serif;
      font-family: 'Tienne', serif;
      // line-height: 1.2;
      border-radius: 2px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px, rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

      &>* {
        @include gold-text;
      }

      &.heading {
        background: $red url(./images/bg/dark-wood.jpg);
        background-blend-mode: hard-light;
        background-size: 100% 100%;
        position: fixed;
        top: $hang;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, 0);
        animation: 1s enter-heading ease-in;

        h1 {
          @include gold-border(0.1em);
          padding: 0.1em;
        }

        @keyframes enter-heading {
          0% {
            transform: translate(-50%, -200%)
          }

          20% {
            transform: translate(-50%, 0%) rotate(1.5deg)
          }

          40% {
            transform: translate(-50%, -30%) rotate(-2deg)
          }

          60% {
            transform: translate(-50%, 0) rotate(2.5deg)
          }

          80% {
            transform: translate(-50%, -10%) rotate(-2deg)
          }

          100% {
            transform: translate(-50%, 0)
          }
        }
      }

      &.infobox {
        @include gold-border(0.3em);
        display: flex;
        flex-direction: column;
        background: rgb(27, 27, 27) url(./images/bg/dark-wood.jpg);
        background-blend-mode: difference;
        background-size: 100% 100%;
        position: fixed;
        // height: fit-content;
        top: 5.25em;
        left: 50%;
        z-index: 0;
        transform: translateX(-50%);
        transform-origin: top left;
        animation: 1.5s enter-info ease-in;

        .sub-heading {
          font-size: 1.5em;
        }

        @keyframes enter-info {
          0% {
            transform: scale(0, 0) translateX(-50%);
          }

          75% {
            transform: scale(0.75, 0) translateX(-50%);
          }

          100% {
            transform: scale(1, 1) translateX(-50%);
          }
        }
      }
    }

    .cards {
      $card-width: 80vw;

      .card-space {
        height: 70vh;
        margin-bottom: 100vh;
      }

      .card-space:last-child {
        margin-bottom: 0;
      }

      .card {
        position: relative;
        max-width: $card-width;
        margin: 0 auto;
        padding: 1rem;
        border-radius: 2px;
        background: hsl(60, 20%, 83%) url(./images/bg/black-paper.jpg);
        font-family: 'IM Fell English SC', serif;
        color: goldenrod;

        &::after {
          content: '';
          position: absolute;
          bottom: -0.5rem;
          left: 50%;
          transform: translateX(-50%);
          width: 95%;
          height: 0px;
          box-shadow: 0 0 0.5rem 0.25rem #00000061;
        }

        .card-content {
          @include gold-border(4px);
          @include gold-text;
          display: flex;
          flex-direction: column;
          height: 100%;
          max-height: 70vh;
          justify-content: space-between;
          padding: 1rem;

          h4 {
            font-size: 1.5em;
          }

          p {
            text-align: justify;
          }

          ul {
            text-align: left;
            padding-left: 1em;
          }

          ul.project-list {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            max-height: 10vh;
          }
        }
      }

      .btn {
        perspective: 100px;
        perspective-origin: 50%;

        button {
          padding: 0.2rem 1rem;
          transform: rotateX(20deg) translateY(1.2rem);
          font-family: 'Vollkorn SC', serif;
          font-weight: bold;
          background: url(./images/bg/mat.jpeg);
          color: #3f1414;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          border: none;
          border-radius: 0.5rem;

          &:hover {
            transform: rotateX(10deg) translateY(1.1rem);
          }

          &:active {
            transform: rotateX(5deg) translateY(1rem);
          }
        }
      }
    }
  }

  .about-page {
    button {
      padding: 0.2rem 1rem;
      // transform: translateY(0.2rem);
      margin-top: 0.2rem;
      font-family: 'Vollkorn SC', serif;
      font-weight: bold;
      background: url(./images/bg/mat.jpeg);
      color: #3f1414;
      box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 1px inset;
      border: none;
      border-radius: 0.5rem;

      &:hover {
        transform: scale(0.99);
        box-shadow: rgba(0, 0, 0, 0.3) 1.5px 2.5px 1px inset;
      }

      &:active {
        transform: scale(0.98);
        box-shadow: rgba(0, 0, 0, 0.5) 2.5px 4px 3px inset;
      }
    }

    // .cards {
    //   display: flex;
    //   justify-content: center;
    //   transform: translateX(100%);

    //   .card {
    //     margin: 1rem;
    //   }
    // }
  }

  .contact-page {
    fieldset {
      @include gold-border(0.1em);

      legend {
        text-align: left;
        padding: 0.2rem;
        margin: 0 1rem;
      }

      input,
      textarea {
        color: $gold;
        font-family: 'IM Fell English SC', serif;
        padding: 0.5rem 1rem;
        width: 100%;
        font-size: 1.3rem;
        background: transparent;
        border: none;

        &:focus {
          outline: none;
        }
      }

      textarea {
        resize: none;
        height: 6rem;
      }
    }
  }

  .active {
    position: fixed;
    bottom: 2rem;
    transition: all 0.2s;
  }
}